{% load static %}

{% block content %}

<!-- <div id='root'></div> -->
<html style="margin-left: 20px; margin-right: 20px;">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}" />
  </head>
<div class="jumbotron">
  <nav class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="container">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
        </li>
        <li>
          <a href="/learn">Learn</a>
        </li>
        <li>
          <a href="/virustotal">VirusTotal</a>
        </li>
        <li>
          <a href="/pwn">havibeenpwned</a>
        </li>
        <li>
          <a href="/test">Test Yourself</a>
        </li>
      </ul>
    </div>
  </nav>

<h2>It's time to learn!</h2>

<p style="text-decoration: underline; font-size: xx-large;">Types of Attacks </p>
<ul>
  <li> There are a variety of ways that different attacks may be presented to you, so it is important to stay informed of all of them so you can be aware and not fall into one.
  </li>
  <br>
    <li style="text-decoration: underline; color:#2776EA">Phishing</li>
    <li>This is one of the most common attacks that you will run into.
      It’s a type of social engineering that convinces a user to share
       sensitive information by appearing to be trustworthy to the user.
      This form of attack often appears in the form of an email disguising
      itself to trick you into sharing information. Steps that you can take
      to protect yourself include never clicking on any suspicious links, paying
      attention to the source as it could be an email or website with spelling/grammatical errors.</li>
      <br>
    <li style="text-decoration: underline; color:#2776EA">Man in the Middle</li>
    <li>These attacks are exactly what they suggest with having a middle man in between a device 
      and the server they are being used with. This middle man is going to steal information and 
      can even alter this communication that is happening. Wireless networks that aren't as secure 
      like public WiFi makes you more vulnerable to these attacks, so try to make sure you are using 
      secure and trusted networks or even setting up a VPN to protect yourself. A Secure Sockets Layer 
      certificate can also be protected on your website in order to encrypt a user's browser who visits.
    </li> 
    <br>
    <li style="text-decoration: underline; color:#2776EA">Denial of Service</li>
    <li>These attacks occur on websites when the attacker causes a mass number of bots to flood a website 
      in order to cause the system to crash from the overwhelming traffic. This can occur in either the 
      website being flooded from traffic or from a specific service being flooded with information. 
      This system crashing will mean that the users who are real people trying to use it won't be able to access it. 
      Although this type of attack doesn't have as much of an issue with personal information being lost, it can 
      have serious effects for a company to get it back up and running by losing resources of time and money. For this 
      reason, it is more likely to occur on a higher-profile website although any website is still vulnerable to attack.
    </li> 
    <br>
    <li style="text-decoration: underline; color:#2776EA">SQL Injection</li>
    <li>Structured Query Language (SQL) Injections occur when a hacker places code to alter the
      back end databases into a server. This can occur on a website in any place that saves data 
      such as a search bar, contact form, comment section, or any other space that accepts data.
      For this reason, the person creating these spaces need to make sure they are properly checked.
     One way to do this is making sure the dataa they are taking in for these entries are specific 
    to what they are wanting so other data won't be inserted. </li>  
    <br>
    <li style="text-decoration: underline; color:#2776EA">Zero-day Exploit</li>
    <li>This attack occurs by exposing a vulnerability within a computer's software or hardware. This 
      flaw then can be exploited to have malware installed before it can even be detected by a developer 
      and have that flaw fixed. This is fixed by the developer, but it can often take months or years.
    </li> 
    <br>
</ul>

<p style="text-decoration: underline; font-size: xx-large;">Types of Malware</p>
<ul>
  <li> Similar to the different types of attacks, there are also a wide variety of malware that your device 
    can become exposed to. The best way to stay on the defensive is to have softwares installed to protect your 
    device. This includes different anti-malware and anti-virus softwares along with making sure you are downloading 
    safe files and connecting to private networks.
  </li>
  <br>
    <li style="text-decoration: underline; color:#2776EA">Adware</li>
    <li>This is a very common software that works by showing you ads on your computer that you don't want. 
      It then uses any information it can collect about you in order to deliver more personalized ads to 
      your computer screen.
    </li> 
    <br>
    <li style="text-decoration: underline; color:#2776EA">Viruses</li>
    <li>A computer virus contains code that is malicious and when it runs is designed to cause harm or steal data.</li> 
    <br>
    <li style="text-decoration: underline; color:#2776EA">Trojans</li>
    <li>These may also be known as a "trojan horse", but it a malicious software that disguises 
      itself to appear real in order to get you to run it on your computer.
    </li> 
    <br>
    <li style="text-decoration: underline; color:#2776EA">Worms</li>
    <li>These worms work by being able to infect all the computers that are on the same network.
      They work by consuming bandwidth and interrupting networks.</li> 
    <br>
</ul>

<p style="text-decoration: underline; font-size: xx-large;">Preventative Measures</p>
<ul>
  <li> The best way to avoid your information becoming compromised is by staying on the defense
  and taking security measures. Educating yourself on different types of attacks and malware
  is an important first step. It will make you more aware of your online activity and that
  you are being safe. As well, you can use the services offered on our website to see if your
 information has been a part of a data breach.</li>
</ul>

<p style="text-decoration: underline; font-size: xx-large;">Resources for Further Learning</p>
<ul>
  <li>
    https://us-cert.cisa.gov/ncas/tips
</li>
</ul>

</div>
{% endblock %}
</html>
