
<html>
  <head>
    {% load static %} 
    {% block content %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/index2.css" %}" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- JS scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  </head>
  <body>
  <!-- Nav Bar -->
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #b13d59; ">
    <div class="container me-auto mb-2 mb-lg-0" id="navbar">
      <a class="navbar-brand" href="/" style="font-family:'Great Vibes', cursive">
        <!-- <img src="seccure imgae" alt="seccure image" width="60" height="60" class="d-inline-block" id="navImg"> -->
        SecCure
      </a>
      <div class="d-flex" >
        <ul class="navbar-nav ">
          <li class="nav-item" id="navItem">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item" id="navItem">
            <a class="nav-link active" aria-current="page" href="/learn">Learn</a>
          </li>
          <li class="nav-item" id="navItem">
            <a class="nav-link" href="/virustotal">VirusTotal</a>
          </li>
          <li class="nav-item" id="navItem">
            <a class="nav-link" href="/pwn">havibeenpwned</a>
          </li>
          <li class="nav-item" id="navItem">
            <a class="nav-link" href="/test">Test Yourself</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Intro -->
  <section class="container" style="text-align: center;">
    <h1 style=" font-size: xx-large;color: #32266f;">Types of Attacks</h1>
    <audio id='ToA'>
      <source src="{% static 'mp3/learn/ToA.mp3' %}" type ='audio/mpeg'>
    </audio>
    <a onclick="playAudio('ToA')"><img src="{% static 'mp3/playbutton.png' %}" width=25 height=25></a>
    <a onclick="pauseAudio('ToA')"><img src="{% static 'mp3/pausebutton.png' %}" width=25 height=25></a>
    <p style="font-size: larger;"> There are a variety of ways that different attacks may be presented to you, so it is important to stay informed of all of them so you can be aware and not fall into one. </p>
  </section>
  
   <!-- Phishing  -->
   <section class="container">
    <div class="grid-container">
      <div class="grid-child">
        <img src="{% static 'phishing.png' %}" alt="Laptop with login box hooked on a fishing hook" style="border-radius: 25px;" width=500 length=500>
      </div>
      <div class="grid-child">
        <h2 >Phishing</h2>
        <p style="font-size:x-large;">This is one of the most common attacks that you will run into.
          It’s a type of social engineering that convinces a user to share
           sensitive information by appearing to be trustworthy to the user.
          This form of attack often appears in the form of an email disguising
          itself to trick you into sharing information. Steps that you can take
          to protect yourself include never clicking on any suspicious links, paying
          attention to the source as it could be an email or website with spelling/grammatical errors.
        </p>
      </div>
    </div>
    <div class="container" style="text-align: center;">
    <audio id='phish'>
      <source src="{% static 'mp3/learn/phishing.mp3' %}" type ='audio/mpeg'>
    </audio>
    <a onclick="playAudio('phish')"><img src="{% static 'mp3/playbutton.png' %}" width=25 height=25></a>
    <a  onclick="pauseAudio('phish')"><img src="{% static 'mp3/pausebutton.png' %}" width=25 height=25></a> 
    </div>
  </section>

  <!-- Middle Man -->
  <section class="container">
    <div class="grid-container">
      <div class="grid-child">
        <h2>Man in the Middle</h2>
        <p style="font-size:x-large;">
          These attacks are exactly what they suggest with having a middle man in between a device 
          and the server they are being used with. This middle man is going to steal information and 
          can even alter this communication that is happening. Wireless networks that aren't as secure 
          like public WiFi makes you more vulnerable to these attacks, so try to make sure you are using 
          secure and trusted networks or even setting up a VPN to protect yourself. A Secure Sockets Layer 
          certificate can also be protected on your website in order to encrypt a user's browser who visits. 
        </p>
      </div>
      <div class="grid-child">
        <img src="{% static 'mtim.png' %}" alt="Laptop with login box hooked on a fishing hook" style="border-radius: 25px;" width=500 length=500>
      </div>
    </div>
    <div class="container" style="text-align: center;">
      <audio id="MITM">
        <source src="{% static 'mp3/learn/MITM.mp3' %}" type ='audio/mpeg'>
      </audio>
      <a onclick="playAudio('MITM')"><img src="{% static 'mp3/playbutton.png' %}" width=25 height=25></a>
      <a onclick="pauseAudio('MITM')"><img src="{% static 'mp3/pausebutton.png' %}" width=25 height=25></a> </div>
  </section>

  <!-- Denial of Service -->
  <section class="container">
    <div class="float-container">
      <div class="float-child">
        <img src="{% static 'denialofservice.png' %}" alt="Laptop with login box hooked on a fishing hook" style="border-radius: 25px;" width=500 length=500>
      </div>
      <div class="float-child">
        <h2 >Denial of Service</h2>
        <p style="font-size:x-large;">
          These attacks occur on websites when the attacker causes a mass number of bots to flood a website 
          in order to cause the system to crash from the overwhelming traffic. This can occur in either the 
          website being flooded from traffic or from a specific service being flooded with information. 
          This system crashing will mean that the users who are real people trying to use it won't be able to access it. 
          Although this type of attack doesn't have as much of an issue with personal information being lost, it can 
          have serious effects for a company to get it back up and running by losing resources of time and money. For this 
          reason, it is more likely to occur on a higher-profile website although any website is still vulnerable to attack.
        </p>
      </div>
    </div>
    <div class="container" style="text-align: center;">
      <audio id="DoS">
        <source src="{% static 'mp3/learn/DoS.mp3' %}" type ='audio/mpeg'>
      </audio>
      <a onclick="playAudio('DoS')"><img src="{% static 'mp3/playbutton.png' %}" width=25 height=25></a>
      <a onclick="pauseAudio('DoS')"><img src="{% static 'mp3/pausebutton.png' %}" width=25 height=25></a> 
    </div>
  </section>

    <center><h2 class="contain" style="text-decoration: underline; color:#2776EA">SQL Injection</h2></center>
    <div class="card" style="display:flex;">
    <li style="font-size:x-large;margin-right: 10px;">
      Structured Query Language (SQL) Injections occur when a hacker places code to alter the
      back end databases into a server. This can occur on a website in any place that saves data 
      such as a search bar, contact form, comment section, or any other space that accepts data.
      For this reason, the person creating these spaces need to make sure they are properly checked.
     One way to do this is making sure the dataa they are taking in for these entries are specific 
    to what they are wanting so other data won't be inserted.
    </li>
          <audio id="SQL">
            <source src="{% static 'mp3/learn/SQL_Inject.mp3' %}" type ='audio/mpeg'>
          </audio>
          <a  onclick="playAudio('SQL')"><img src="{% static 'mp3/playbutton.png' %}" width=25 height=25></a>
        <a  onclick="pauseAudio('SQL')"><img src="{% static 'mp3/pausebutton.png' %}" width=25 height=25></a> 
    <img src="{% static 'sqlinjection.png' %}" alt="Laptop with login box hooked on a fishing hook" style="width:160%; border-radius: 25px;">
  </div>

    <center><h2 class="contain" style="text-decoration: underline; color:#2776EA">Zero-day Exploit</h2></center>
    <div class="card" style="display:flex;">
    <img src="{% static 'zeroday.png' %}" alt="Laptop with login box hooked on a fishing hook" style="width:100%; border-radius: 25px;">
    <li style="font-size:x-large;margin-left: 10px; margin-top: 100px;">
      This attack occurs by exposing a vulnerability within a computer's software or hardware. This 
      flaw then can be exploited to have malware installed before it can even be detected by a developer 
      and have that flaw fixed. This is fixed by the developer, but it can often take months or years.
    </li>  

          <audio id="0day"  >
            <source src="{% static 'mp3/learn/0dayEx.mp3' %}" type ='audio/mpeg'>
          </audio>
          <a  onclick="playAudio('0day')"><img src="{% static 'mp3/playbutton.png' %}" width=25 height=25></a>
        <a  onclick="pauseAudio('0day')"><img src="{% static 'mp3/pausebutton.png' %}" width=25 height=25></a> 
  </div>
    <br>
</ul>

<h1 style="text-decoration: underline; font-size: xx-large;color: #32266f;">Types of Malware</h1>

  <p style="font-size: larger"> Similar to the different types of attacks, there are also a wide variety of malware that your device 
    can become exposed to. The best way to stay on the defensive is to have softwares installed to protect your 
    device. This includes different anti-malware and anti-virus softwares along with making sure you are downloading 
    safe files and connecting to private networks.
        </p>
        <audio id='ToM' >
          <source src="{% static 'mp3/learn/ToM.mp3' %}" type ='audio/mpeg'>
        </audio>
        <a  onclick="playAudio('ToM')"><img src="{% static 'mp3/playbutton.png' %}" width=25 height=25></a>
        <a  onclick="pauseAudio('ToM')"><img src="{% static 'mp3/pausebutton.png' %}" width=25 height=25></a> 
  <br>
  <ul style="font-size: larger;">
    <li style="text-decoration: underline; color:#2776EA">Adware</li>
    <li>This is a very common software that works by showing you ads on your computer that you don't want. 
      It then uses any information it can collect about you in order to deliver more personalized ads to 
      your computer screen.
    </li> 
            <audio id='Ad'>
              <source src="{% static 'mp3/learn/Adware.mp3' %}" type ='audio/mpeg'>
            </audio>
            <a onclick="playAudio('Ad')"><img src="{% static 'mp3/playbutton.png' %}" width=25 height=25></a>
        <a  onclick="pauseAudio('Ad')"><img src="{% static 'mp3/pausebutton.png' %}" width=25 height=25></a> 
    <br>
    <li style="text-decoration: underline; color:#2776EA">Viruses</li>
    <li>A computer virus contains code that is malicious and when it runs is designed to cause harm or steal data.</li> 
          <audio id='Vir'>
            <source src="{% static 'mp3/learn/Viruses.mp3' %}" type ='audio/mpeg'>
          </audio>
          <a onclick="playAudio('Vir')"><img src="{% static 'mp3/playbutton.png' %}" width=25 height=25></a>
        <a  onclick="pauseAudio('Vir')"><img src="{% static 'mp3/pausebutton.png' %}" width=25 height=25></a> 
    <br>
    <li style="text-decoration: underline; color:#2776EA">Trojans</li>
    <li>These may also be known as a "trojan horse", but it a malicious software that disguises 
      itself to appear real in order to get you to run it on your computer.
    </li> 
          <audio id="Toj">
            <source src="{% static 'mp3/learn/Trojans.mp3' %}" type ='audio/mpeg'>
          </audio>
          <a  onclick="playAudio('Toj')"><img src="{% static 'mp3/playbutton.png' %}" width=25 height=25></a>
        <a  onclick="pauseAudio('Toj')"><img src="{% static 'mp3/pausebutton.png' %}" width=25 height=25></a> 
    <br>
    <li style="text-decoration: underline; color:#2776EA">Worms</li>
    <li>These worms work by being able to infect all the computers that are on the same network.
      They work by consuming bandwidth and interrupting networks.</li> 
            <audio id='wom'>
              <source src="{% static 'mp3/learn/Worms.mp3' %}" type ='audio/mpeg'>
            </audio>
            <a onclick="playAudio('wom')"><img src="{% static 'mp3/playbutton.png' %}" width=25 height=25></a>
        <a onclick="pauseAudio('wom')"><img src="{% static 'mp3/pausebutton.png' %}" width=25 height=25></a> 
    <br>
    <li style="text-decoration: underline; color:#2776EA">Ransomware</li>
    <li>Ransomware is normally targeted at individuals.
      It threatens to publish a user's personal data and/or block access to it unless a ransom is paid.</li>
            <audio id='Ran'>
              <source src="{% static 'mp3/learn/Ransomware.mp3' %}" type ='audio/mpeg'>
            </audio>
            <a onclick="playAudio('Ran')"><img src="{% static 'mp3/playbutton.png' %}" width=25 height=25></a>
        <a onclick="pauseAudio('Ran')"><img src="{% static 'mp3/pausebutton.png' %}" width=25 height=25></a> 
</ul>
<h1 style="text-decoration: underline; font-size: xx-large;color: #32266f;">Preventative Measures</h1>
<p style="font-size: larger"> The best way to avoid your information becoming compromised is by staying on the defense
  and taking security measures. Educating yourself on different types of attacks and malware
  is an important first step. It will make you more aware of your online activity and that
  you are being safe. As well, you can use the services offered on our website to see if your
 information has been a part of a data breach.</p>

        <audio id='PM'>
          <source src="{% static 'mp3/learn/Prev_Meas.mp3' %}" type ='audio/mpeg'>
          
        </audio>
        <a onclick="playAudio('PM')"><img src="{% static 'mp3/playbutton.png' %}" width=25 height=25></a>
        <a onclick="pauseAudio('PM')"><img src="{% static 'mp3/pausebutton.png' %}" width=25 height=25></a> 


 <h1 style="text-decoration: underline; font-size: xx-large;color: #32266f;">Resources for Further Learning</h1>

<!-- <ul>
  <li> -->
  <a href="https://us-cert.cisa.gov/ncas/tips">https://us-cert.cisa.gov/ncas/tips</a>
<!-- </li>
</ul> -->
<script>
  
  function playAudio(value) {
    var audio = document.getElementById(String(value));
    audio.play();
    //var audio = new Audio(String(value));
    //audio.play();
  }
  function pauseAudio(value) {
    var audio = document.getElementById(String(value));
    audio.pause();
  }
 
</script>
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
{% endblock %}
</html>

