{% load static %}

{% block content %}

<!-- <div id='root'></div> -->
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}" />
  </head>

  <nav class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="container">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
        </li>
        <li>
          <a href="/learn">Learn</a>
        </li>
        <li>
          <a href="/virustotal">File/URL Check</a>
        </li>
        <li>
          <a href="/pwn">Pwn Check</a>
        </li>
        <li>
          <a href="/test">Test Yourself</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- <div className="Navigation"></div> -->

<div class="jumbotron">
<h2>Begin Your Journey to Knowledge</h2>

<p style="text-decoration: underline; font-size: xx-large;">Types of Attacks</p>
<ul>
    <li>Phishing</li>
    <li>Man in the Middle</li>
    <li>Denial of Service</li>
    <li>SQL Injection</li>
    <li>Zero-day Exploit</li>
</ul>

<p style="text-decoration: underline; font-size: xx-large;">Types of Malware</p>
<ul>
    <li>Adware</li>
    <li>Viruses</li>
    <li>Trojans</li>
    <li>Worms</li>
</ul>

<p style="text-decoration: underline; font-size: xx-large;">Preventative Measures</p>
<p style="text-decoration: underline; font-size: xx-large;">Resources for Further Learning</p>

</div>
{% endblock %}
</html>
