<html>
  {% load static %}

  {% block content %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/index2.css" %}" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- Fontawesome -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <!-- JS scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{%static "frontend/main.js" %}"></script>
  </head>    
  <audio id="test">
    <source src="{% static 'mp3/HIBP/welcome.mp3' %}" type ='audio/mpeg'>
  </audio>
  <audio id='means'>
    <source src="{% static 'mp3/HIBP/pwned_means.mp3' %}" type ='audio/mpeg'>
  </audio>
  <audio id='is'>
    <source src="{% static 'mp3/HIBP/hibp_is.mp3' %}" type ='audio/mpeg'>
  </audio> 
  <audio id='todo'>
    <source src="{% static 'mp3/HIBP/pwned_todo.mp3' %}" type ='audio/mpeg'>
  </audio> 

  <audio id='using'>
    <source src="{% static 'mp3/HIBP/using_hibp.mp3' %}" type ='audio/mpeg'>
  </audio> 
<body>
  <!-- Nav Bar -->
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #b13d59; ">
    <div class="container me-auto mb-2 mb-lg-0" id="navbar">
      <a class="navbar-brand" href="/" style="font-family:'Great Vibes', cursive">
        <!-- <img src="seccure imgae" alt="seccure image" width="60" height="60" class="d-inline-block" id="navImg"> -->
        SecCure
      </a>
      <div class="d-flex" >
        <ul class="navbar-nav ">
          <li class="nav-item" id="navItem">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item" id="navItem">
            <a class="nav-link" href="/learn">Learn</a>
          </li>
          <li class="nav-item" id="navItem">
            <a class="nav-link" href="/virustotal">VirusTotal</a>
          </li>
          <li class="nav-item" id="navItem">
            <a class="nav-link active" aria-current="page" href="/pwn">haveibeenpwned</a>
          </li>
          <li class="nav-item" id="navItem">
            <a class="nav-link" href="/test">Test Yourself</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <section></section>
  <section class="container" id="alternate-box">
    <div class="container mb-3">
  <h2>What does being "pwned" mean?
    <a  onclick="playAudio('means')"><img src="{% static 'mp3/playbutton.png' %}" width=25 height=25></a>
    <a  onclick="pauseAudio('means')"><img src="{% static 'mp3/pausebutton.png' %}" width=25 height=25></a>
  </h2>
  <p>Being pwned means that an account of yours has been compromised.</p>
    </div>
  
    <div class="container mb-3">
  <h2>What is haveibeenpwned?
    <a  onclick="playAudio('is')"><img src="{% static 'mp3/playbutton.png' %}" width=25 height=25></a>
    <a  onclick="pauseAudio('is')"><img src="{% static 'mp3/pausebutton.png' %}" width=25 height=25></a>
  </h2>
  <p>haveibeenpwned is a site run by a trusted member of the cybersecurity community that is able to inform whether a domain has been compromised at some point.</p>
  <p>On the <a href="https://haveibeenpwned.com/">haveibeenpwned website</a>, you can check if your email and/or phone number has been compromised as well.</p>
  
    </div>

    <div class="container">
  <h2>What to do if you have been pwned?
    <a  onclick="playAudio('todo')"><img src="{% static 'mp3/playbutton.png' %}" width=25 height=25></a>
    <a  onclick="pauseAudio('todo')"><img src="{% static 'mp3/pausebutton.png' %}" width=25 height=25></a>
  </h2>
  <p>If your account(s) have been compromised, you should change the password to the affected account(s).</p>
  <p>Ensure that you have two factor authentication enabled if you want to be more secure, it makes it harder to break into your account.</p>
    </div>
  </section> 

  <section></section>
  <section class="container" id="alternate-box">
    <div class="container" style="text-align: center;">
  <h2>How to use</h2>
  <p>Example Input that shows has been pwned: adobe.com</p>
  <p>Example Input that shows has not been pwned: pinterest.com</p>
    </div>
  
  <div class="container" style="text-align: center;">
  <p>Input the domain name that you want to check in the text box below</p>
  <form id='form_vt' method="post">
     {% csrf_token %}
    <input id="pwninput" type="text" name="domainname" size="50" style="text-align: center;">
    <input id='pwninputid' type='hidden' name='Id'> <br> <br>
    <input type="button" class="btn btn-danger" name="submit" onclick='submitForm1()' value="Submit">
    
  </form>
  <a  onclick="playAudio('using')"><img src="{% static 'mp3/playbutton.png' %}" width=25 height=25></a>
  <a  onclick="pauseAudio('using')"><img src="{% static 'mp3/pausebutton.png' %}" width=25 height=25></a>
  </div>
  </section>

  <section></section>

  <section class="container" id="alternate-box">
    <div class="container" style="text-align: center;">
      <h2>Results</h2>
      <p id="pwnoutput" >No Content</p>
      <a onclick="playAudio('result')"><img src="{% static 'mp3/playbutton.png' %}" width=25 height=25></a>
      <a onclick="pauseAudio('result')"><img src="{% static 'mp3/pausebutton.png' %}" width=25 height=25></a>
  </div>
    <meta http-equiv="Cache-control" content="no-cache">
      <audio id='result'>
        <source src="{% static 'mp3/HIBP/result.mp3' %}" type ='audio/mpeg' >
      </audio> 
  </section>
   
  <section></section>

  <!-- Javascript -->
  <script>
    function submitForm1() {
      //let form = document.getElementById("form_vt");
      //document.getElementById("vtoutput").innerHTML = form.submit().innerHTML;
      var http = new XMLHttpRequest();
      
      http.open("POST", "api/pwn", true);
      http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      var params = "domainname=" + document.getElementById('pwninput').value ;
      http.send(params);
      http.onload = function() {
        const myObj = JSON.parse(http.responseText)[0]
        var res = "On " + String(myObj.BreachDate) +" the domain " + String(myObj.Domain) + " was breached" 
        res += ". " + String(myObj.Description);
        if (String(myObj.Name) == "Not Detected") {
          res = "The domain " + String(myObj.Domain) + " was not found in the database."
        }
        document.getElementById('pwnoutput').innerHTML = res;
        // finished with hibp now creating audio
        var https = new XMLHttpRequest();
          https.open("POST", "api/tts", true);
          https.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
          var hold = document.getElementById('pwnoutput');
          if (String(hold.innerHTML) == "undefined") {
            hold = "No Content";
          } 
          var params = "filename=result" +"&scripts=" + String(hold.textContent || hold.innerText) ;
          https.send(params);
          
      }
      

    }
  </script>
  
      <!-- <script>
        function playAudio(value) {
          var audio = document.getElementById(String(value));
          audio.play();
          //var audio = new Audio(String(value));
          //audio.play();
        }
        function pauseAudio(value) {
          var audio = document.getElementById(String(value));
          audio.pause();
        }
       
      </script> -->
  <!--Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>


{% endblock %}
</body>
</html>
