{% load static %}

{% block content %}

<!-- <div id='root'></div> -->
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}" />
  </head>
<div class="jumbotron">
  <nav class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="container">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
        </li>
        <li>
          <a href="/learn">Learn</a>
        </li>
        <li>
          <a href="/virustotal">VirusTotal</a>
        </li>
        <li>
          <a href="/pwn">havibeenpwned</a>
        </li>
        <li>
          <a href="/test">Test Yourself</a>
        </li>
      </ul>
    </div>
  </nav>


<body>
  <h2>What does being "malicious" mean?</h2>
  <p>Malicious describes something that is intending to cause harm.</p>

  <h2>What is VirusTotal?</h2>
  <p>VirusTotal is a trusted site within the cybersecurity community that is able to check a URL and tell you if it is malicious.</p>
  <p>On the <a href="https://www.virustotal.com/gui/home/url">VirusTotal website</a>, you can also check files, IP addresses, domain names and file hashes to see if they are malicious.</p>

  <h2>What to do if you have discovered a malicious URL?</h2>
  <p></p>

  <h2></h2>
  <p>Example Input that shows has some maliciousness: www.google.com</p>
  <p>Example Input that shows has no maliciousness: www.pinterest.com</p>

  <p>Input the URL that you want to check in the text box here:</p>
  <form>
    <input id="vtinput" type="text">
  </form>

  <h2>Results:</h2>
  <p id="vtoutput"></p>


</body>
</div>
{% endblock %}
</html>