{% load static %}

{% block content %}

<!-- <div id='root'></div> -->
<html style="margin-left: 20px; margin-right: 20px;">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/index2.css" %}" />
  </head>
<div class="jumbotron">
  <nav class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="container">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
        </li>
        <li>
          <a href="/learn">Learn</a>
        </li>
        <li>
          <a href="/virustotal">VirusTotal</a>
        </li>
        <li>
          <a href="/pwn">havibeenpwned</a>
        </li>
        <li>
          <a href="/test">Test Yourself</a>
        </li>
      </ul>
    </div>
  </nav>

 
<body>
  <h2>What does being "malicious" mean?</h2>
  <p>Malicious describes something that is intending to cause harm.</p>
      <audio id='mm'>
        <source src="{% static 'mp3/VT/malicious_means.mp3' %}" type ='audio/mpeg'>
      </audio>
      <a  onclick="playAudio('mm')"><img src="{% static 'mp3/playbutton.png' %}" width=25 height=25></a>
        <a  onclick="pauseAudio('mm')"><img src="{% static 'mp3/pausebutton.png' %}" width=25 height=25></a>
  <h2>What is VirusTotal?</h2>
  <p>VirusTotal is a trusted site within the cybersecurity community that is able to check a URL and tell you if it is malicious.</p>
  <p>On the <a href="https://www.virustotal.com/gui/home/url">VirusTotal website</a>, you can also check files, IP addresses, domain names and file hashes to see if they are malicious.</p>
      <audio id='VTis'  >
        <source src="{% static 'mp3/VT/VT_is.mp3' %}" type ='audio/mpeg'>
      </audio>
      <a  onclick="playAudio('VTis')"><img src="{% static 'mp3/playbutton.png' %}" width=25 height=25></a>
        <a  onclick="pauseAudio('VTis')"><img src="{% static 'mp3/pausebutton.png' %}" width=25 height=25></a>
  <h2>What to do if you have discovered a malicious URL?</h2>
  <p>The obvious course of action is to NOT go to the link.  However if the majority is showing that the link is harmless, it is unlikely to cause harm.  Also if threats are not there, it is also unlikely to be malicious.</p>
      <audio id='WTD'>
        <source src="{% static 'mp3/VT/What_to_do.mp3' %}" type ='audio/mpeg'>
      </audio>
      <a  onclick="playAudio('WTD')"><img src="{% static 'mp3/playbutton.png' %}" width=25 height=25></a>
        <a  onclick="pauseAudio('WTD')"><img src="{% static 'mp3/pausebutton.png' %}" width=25 height=25></a>
  <h2>How to use:</h2>
  <p>Example Input that shows has some maliciousness: www.google.com</p>
  <p>Example Input that shows has no maliciousness: www.pinterest.com</p>
      <audio id='HU'>
        <source src="{% static 'mp3/VT/How_to_Use.mp3' %}" type ='audio/mpeg'>
      </audio>
      <a  onclick="playAudio('HU')"><img src="{% static 'mp3/playbutton.png' %}" width=25 height=25></a>
        <a  onclick="pauseAudio('HU')"><img src="{% static 'mp3/pausebutton.png' %}" width=25 height=25></a>
  <p>Input the URL that you want to check in the text box here:</p>
  <form id='form_vt' action='api/vt' method="post">
    <input id="vtinput" type="text" name="Url">
    <input id='vtinputid' type='hidden' name='Id'>
    <a  onclick='submitForm()'>Submit</a>

  </form>
  <script>
  
    function submitForm() {
      //let form = document.getElementById("form_vt");
      //document.getElementById("vtoutput").innerHTML = form.submit().innerHTML;
      var http = new XMLHttpRequest();
      http.open("POST", "api/vt", true);
      http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      var params = "Url=" + document.getElementById('vtinput').value ;
      http.send(params);
      http.onload = function() {
        const myObj = JSON.parse(http.responseText)
        var printable = "Time Submitted: " + myObj.submitted + "<br>";
        var harmless = ":        ";
        var malicious = "";
        var suspicious = "";
        var undetected = "";
        var timeout = "";
        for (var key in myObj.Data) {
          
          if (myObj.Data[key].category == "harmless"){
            harmless +=  String(key) + ", ";
          } 
          if (myObj.Data[key].category == "malicious") {
            malicious += ": " + String(key) + ",    Reason: " + String(myObj.Data[key].result) + "<br>"
          }// else 
          if (myObj.Data[key].category == "suspicious" ) {
            suspicious += String(key) + ", "
          } //else if (myObj.Data[key].category == "undetected") {
            //undetected +=  "----" + String (key) + "<br>"
        //  } else {
          //  timeout += "----" String(key) + "<br>"
         // }
        }
        var printable1 = printable + "<br>";
        printable1 +=  String(myObj.Stats.harmless) + " Search Engines that Found this URL harmless <br>" + harmless + "<br><br>";
        printable1 +=  String(myObj.Stats.malicious) + " Search Engines Found this URL malicious <br> " + malicious + "<br><br>";
        printable1 += String(myObj.Stats.suspicious) + " Search Engines Fount this URl suspicious <br> " + suspicious + "<br><br>";
        printable1 += String(myObj.Stats.undetected) + " Search Engines were Unable to Detect the URL <br> " + undetected + "<br><br>";
        printable1 += String(myObj.Stats.timeout) + " Search Engines Timed out " + timeout + "<br><br>";
        //JSON.stringify(http.responseText);
        document.getElementById('vtoutput').innerHTML = printable1;
        var https = new XMLHttpRequest();
          https.open("POST", "api/tts", true);
          https.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
          var hold = document.getElementById('vtoutput');
          if (String(hold.innerHTML) == "undefined") {
            hold = "No Content";
          } 
          var params = "filename=VT/results" +"&scripts=" + String(hold.textContent || hold.innerText) ;
          https.send(params);
      }
    }
  </script>
  <h2>Results:</h2>
  <p id="vtoutput"></p>
  
  <audio id='res'>
    <source src="{% static 'mp3/Vt/results.mp3' %}" type ='audio/mpeg'>
  </audio> 
  
  <a  onclick="playAudio('res')"><img src="{% static 'mp3/playbutton.png' %}" width=25 height=25></a>
        <a  onclick="pauseAudio('res')"><img src="{% static 'mp3/pausebutton.png' %}" width=25 height=25></a>
  
</body>
  <script>
  function playAudio(value) {
    var audio = document.getElementById(String(value));
    audio.play();
    //var audio = new Audio(String(value));
    //audio.play();
  }
  function pauseAudio(value) {
    var audio = document.getElementById(String(value));
    audio.pause();
  }
 
</script>
</div>

{% endblock %}
</html>
